@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f3f3;
  --background-secondary: #05172e;
  --foreground: #4b4b4b;
  --footer-foreground: #797981;
  --primary: #81a6d9;
  --secondary: #dce4ee;
  --tertiary: #efeff7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto";
}

@keyframes slide-in-right {
  from {
    translate: 105%;
  }
  to {
    translate: 0%;
    display: hidden;
  }
}

@keyframes slide-out-right {
  from {
    translate: 0%;
  }
  to {
    translate: 105%;
    display: hidden;
  }
}
