@import url('./some.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #f3f3f3;
  --background-secondary: #05172e;
  --foreground: #4b4b4b;
  --footer-foreground: #797981;
  --primary: #81a6d9;
  --secondary: #dce4ee;
  --tertiary: #efeff7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto";
}

@keyframes slide-in-right {
  from {
    translate: 105%;
  }
  to {
    translate: 0%;
    display: hidden;
  }
}

@keyframes slide-out-right {
  from {
    translate: 0%;
  }
  to {
    translate: 105%;
    display: hidden;
  }
}

.testimonial{
  position: relative;
  border: 5px solid var(--primary);

  &::after{
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    right:20px;
    top: 95%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid white;
    rotate: 20deg;
  }
  &::before{
    z-index: -1;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    right:15px;
    top: 95%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid var(--primary);
    rotate: 20deg;
  }
}

@keyframes appear-scroll {
  from {
    opacity: 0;
    scale: 60%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }

}

.appear-in-scroll{
  animation: appear-scroll linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 500px;
}
